* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 540px;
    height: 480px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
}

.score_board {
    box-sizing: border-box;
    width: 540px;
    height: 60px;
    background-color: #4a752c;
    padding: 0;
}

.score_board {
    position: relative;
}

.score_board>div {
    display: inline-block;
    position: absolute;
    height: 60px;
}

.score_board>div>* {
    float: left;
}

.score_board>div>span {
    margin-left: 10px;
    font-size: 30px;
    line-height: 60px;
    color: aliceblue;
}

.timer {
    left: 300px;
}

.left_flag {
    left: 150px;
}

.game_board {
    box-sizing: border-box;
    width: 540px;
    height: 420px;
    background-color: rgb(117, 255, 36);
}